<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Web Engineering</title>
		<link rel="stylesheet" href="../layout.css">
	</head>
	<body>
		<!-- Kopfzeile -->
		<div id="header">
					<h1><b>Web Engineering</b></h1>
		</div>
		<!-- Menüleiste -->
		<div id="menüleiste">
			<ul>
				<!-- Home -->
				<li><a href="../index.html"><b>Home</b></a></li>
				<!-- Übung 1 -->
				<li><a href="../01/Uebung1.html"><b>Übung 1</b></a>
					<ul>
						<li><a href="../01/Uebung1.html#1.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../01/Uebung1.html#1.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../01/Uebung1.html#1.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 2 -->
				<li><a href="../02/Uebung2.html"><b>Übung 2</b></a>
					<ul>
						<li><a href="../02/Uebung2.html#2.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../02/Uebung2.html#2.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../02/Uebung2.html#2.3"><b>Aufgabe 3</b></a></li>
						<li><a href="../02/Uebung2.html#2.4"><b>Aufgabe 4</b></a></li>
					</ul>
				</li>
				<!-- Übung 3 -->
				<li><a href="../03/Uebung3.html"><b>Übung 3</b></a>
					<ul>
						<li><a href="../03/Uebung3.html#3.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../03/Uebung3.html#3.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../03/Uebung3.html#3.3"><b>Aufgabe 3</b></a></li>
						<li><a href="../03/Uebung3.html#3.4"><b>Aufgabe 4</b></a></li>
					</ul>
				</li>
				<!-- Übung 4 -->
				<li><a href="../04/Uebung4.html"><b>Übung 4</b></a>
					<ul>
						<li><a href="../04/Uebung4.html#4.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../04/Uebung4.html#4.2"><b>Aufgabe 2</b></a></li>
					</ul>
				</li>
				<!-- Übung 5 -->
				<li><a href="../05/Uebung5.html"><b>Übung 5</b></a>
					<ul>
						<li><a href="../05/Uebung5.html#5.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../05/Uebung5.html#5.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../05/Uebung5.html#5.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../05/Uebung5.html#5.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 6 -->
				<li><a href="../06/Uebung6.html"><b>Übung 6</b></a>
					<ul>
						<li><a href="../06/Uebung6.html#6.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../06/Uebung6.html#6.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../06/Uebung6.html#6.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../06/Uebung6.html#6.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 7 -->
				<li><a href="../07/Uebung7.html"><b>Übung 7</b></a>
					<ul>
						<li><a href="../07/Uebung7.html#7.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../07/Uebung7.html#7.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../07/Uebung7.html#7.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../07/Uebung7.html#7.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 8 -->
				<li><a href="../08/Uebung8.html"><b>Übung 8</b></a>
					<ul>
						<li><a href="../08/Uebung8.html#8.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../08/Uebung8.html#8.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../08/Uebung8.html#8.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../08/Uebung8.html#8.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 9 -->
				<li><a href="../09/Uebung9.html"><b>Übung 9</b></a>
					<ul>
						<li><a href="../09/Uebung9.html#9.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../09/Uebung9.html#9.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../09/Uebung9.html#9.2"><b>Aufgabe 2</b></a></li>
					</ul>
				</li>
				<!-- Übung 10 -->
				<li><a href="../10/Uebung10.html"><b>Übung 10</b></a>
					<ul>
						<li><a href="../10/Uebung10.html#10.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../10/Uebung10.html#10.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../10/Uebung10.html#10.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../10/Uebung10.html#10.3"><b>Aufgabe 3</b></a></li>
					</ul>
				</li>
				<!-- Übung 11 -->
				<li><a href="../11/Uebung11.html"><b>Übung 11</b></a>
					<ul>
						<li><a href="../11/Uebung11.html#11.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../11/Uebung11.html#11.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../11/Uebung11.html#11.2"><b>Aufgabe 2</b></a></li>
						</ul>
				</li>
				<!-- Übung 12 -->
				<li><a href="Uebung12.html"><b>Übung 12</b></a>
					<ul>
						<li><a href="Uebung12.html#12.0"><b>Aufgabe 0</b></a></li>
						<li><a href="Uebung12.html#12.1"><b>Aufgabe 1</b></a></li>
						<li><a href="Uebung12.html#12.2"><b>Aufgabe 2</b></a></li>
						<li><a href="Uebung12.html#12.3"><b>Aufgabe 3</b></a></li>
						<li><a href="Uebung12.html#12.4"><b>Aufgabe 4</b></a></li>
					</ul>
				</li>
				<!-- Übung 13 -->
				<li><a href="../13/Uebung13.html"><b>Übung 13</b></a>
					<ul>
						<li><a href="../13/Uebung13.html#13.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../13/Uebung13.html#13.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../13/Uebung13.html#13.2"><b>Aufgabe 2</b></a></li>
					</ul>
				</li>
				<!-- Übung 14 -->
				<li><a href="../14/Uebung14.html"><b>Übung 14</b></a>
					<ul>
						<li><a href="../14/Uebung14.html#14.0"><b>Aufgabe 0</b></a></li>
						<li><a href="../14/Uebung14.html#14.1"><b>Aufgabe 1</b></a></li>
						<li><a href="../14/Uebung14.html#14.2"><b>Aufgabe 2</b></a></li>
						<li><a href="../14/Uebung14.html#14.3"><b>Aufgabe 3</b></a></li>
						<li><a href="../14/Uebung14.html#14.4"><b>Aufgabe 4</b></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- Content -->
		<table>
		<tr>
		<td WIDTH="20%">
		</td>
		<td WIDTH="60%">
		<div id="content">
		<!-- Einführung in das Thema -->
			<h2><b>12. PHP</b></h2>
				<div id="uebung">
				<a>Server-side Scripting </a>
				<br>
				<a>Nr. 1 der Server-Sprachen</a>
				</div>
				<div id="unteruebung">
				<a><b>Inhalt:</b></a>
				<div id="antwort">
				<a class="href" href="Vorlesung12.pdf">Vorlesung 12</a>
				</div>
				<a><b>Lernziele:</b><br></a>
				<div id="antwort">
				<ol>
				<li> <a>PHP anwenden können.</a></li>
				<li> <a>Konzepte von PHP beschreiben können.</a></li>
				<li> <a>Server-seitige Skripte erstellen können.</a></li>
				<li> <a>In PHP programmieren können.</a></li>
				<li> <a>AJAX erläutern können.</a></li>
				<li> <a>Teilbereiche einer Webseite asynchron nachladen können.</a></li>
				<li> <a>Mit PHP Formular-Daten auf dem Server speichern können.</a></li>
				<li> <a>Code Reviews definieren können.</a></li>
				<li> <a>Code Reviews durchführen können.</a></li>
				</ol>
				</div>
				<a><b>Videos, Tutorials und Blogs:</b></a>
				<div id="antwort">
				<ul>
					<li>
					<a><b>PHP</b></a>
					<ul>
					<li><a class="href" href="https://www.php.net/manual/de/">php.net</a></li>
					<li><a class="href" href="https://www.w3schools.com/html/html_forms.asp">W3Schools Form Elements</a></li>
					<li><a class="href" href="https://www.w3schools.com/pHP/default.asp">W3Schools PHP 5</a></li>
					<li><a class="href" href="https://www.w3schools.com/js/js_ajax_intro.asp">AJAX</a></li>
					<li><a class="href" href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch">fetch</a></li>
					</ul>
					</li>
					<li>
					<a><b>Code Reviews</b></a>
					<ul>
					<li><a>Bertrand Meyer (2009) </a><a class="href" href="https://link.springer.com/chapter/10.1007%2F978-3-642-01856-5_9">Design and Code Reviews in the Age of the Internet</a></li>
					<li><a class="href" href="https://github.com/features/code-review/">GitHub Code Review</a></li>
					<li><a>New York University (2017) </a><a class="href" href="https://nyu-cds.github.io/effective-code-reviews/">Effective Code Reviews</a></li>
					<li><a>Google's Engineering Practices documentation: </a><a class="href" href="https://google.github.io/eng-practices/review/">Code Review Developer Guide</a></li>
					<li><a class="href" href="https://dev.to/rfornal/better-code-review-practices-15nb">Better Code Review Practices</a><a> (7 Part Series)</a></li>
					<li><a>Wikipedia (en) on </a><a class="href" href="https://en.wikipedia.org/wiki/Code_review">Code review</a></li>
					<li><a>Wikipedia (de) über </a><a class="href" href="https://de.wikipedia.org/wiki/Review_(Softwaretest)">Review (Softwaretest)</a></li>
					<li><a class="href" href="https://smartbear.de/learn/code-review/best-practices-for-peer-code-review/?l=ua">Best Practices for Code Review</a></li>
					<li><a class="href" href="https://medium.com/palantir/code-review-best-practices-19e02780015f">Code Review Best Practices</a></li>
					</ul>
					</li>
					</ul>
				</div>
			</div>
			<br>
			<!-- Übung 12.0 -->
			<div id="uebungsueberschrift">
				<a><b><span id="12.0">12.0 PHP-Tutorial</span></b></a>
			</div>
				<div id="unteruebung">
					<a><b>Arbeiten Sie das </a><a class="href" href="https://www.w3schools.com/pHP/default.asp">PHP-Tutorial</a><a> durch und nutzen Sie den TryIt-Editor zum Ausprobieren.</b></a>
				<br><br>
				</div>
			<br>
			<!-- Übung 12.1 -->
			<div id="uebungsueberschrift">
				<a><b><span id="12.1">12.1 Registrierung mit PHP (2 Punkte)</span></b></a>
			</div>
				<div id="unteruebung">
					<a><b>Erstellen Sie mit PHP 5 auf www2.inf.h-brs.de ein Registrierungsformular. Speichern Sie die eingegebenen Daten persistent in einer Datei auf www2.inf.h-brs.de.</b></a>
					<div id="antwort">
						<a>Für diese Übungsaufgabe habe ich keine zufriedenstellende Lösung herausgearbeitet.<br></a>
						<a>Dennoch finden Sie meine Lösung </a>
						<a class="href" href="Uebung12.1.html">hier</a>
						<a>.</a>
						<br>
						<a>Mit "Rechtsklick -&gt Seitenquelltext anzeigen" können Sie Sich meinen HTML-Quellcode anzeigen lassen. </a>
					</div>
				</div>
			<br>
			<!-- Übung 12.2 -->
			<div id="uebungsueberschrift">
				<a><b><span id="12.2">12.2 Login mit PHP (2 Punkte)<span></b></a>
			</div>
				<div id="unteruebung">
					<a><b>Schreiben Sie eine sichere PHP-Lösung für Login, das die persistierten Registrierungsdaten aus der letzten Aufgabe nutzt.</b></a>
					<div id="antwort">
						<a>Für diese Übungsaufgabe habe ich keine zufriedenstellende Lösung herausgearbeitet.<br></a>
						<a>Dennoch finden Sie meine Lösung </a>
						<a class="href" href="Uebung12.2.html">hier</a>
						<a>.</a>
						<br>
						<a>Mit "Rechtsklick -&gt Seitenquelltext anzeigen" können Sie Sich meinen HTML-Quellcode anzeigen lassen. </a>
					</div>
				</div>
			<br>
			<!-- Übung 12.3 -->
			<div id="uebungsueberschrift">
				<a><b><span id="12.3">12.3 WWW-Navigator zum Content-Editor ausbauen (4 Punkte)</span></b></a>
			</div>
				<div id="unteruebung">
					<a><b>Bauen Sie Ihren WWW-Navigator zum Content-Editor aus, mit dem Sie weitere Inhalte hinzu fügen können, die persistent auf dem Server mittels PHP gespeichert werden. Speichern Sie die Inhalte Ihres WWW-Navigators in einer JSON-Datei auf dem Server www2.inf.h-brs.de. Erweitern Sie Ihren WWW-Navigator um eine Edit-Funktionalität, so dass Inhalte editiert und ergänzt werden können. Schützen Sie Ihre Inhalte mit einem Login.</b></a>
					<div id="antwort">
						<a>Für diese Übungsaufgabe habe ich keine zufriedenstellende Lösung herausgearbeitet.</a>
					</div>
				</div>
			<br>
			<!-- Übung 12.4 -->
			<div id="uebungsueberschrift">
				<a><b><span id="12.4">12.4 Code Review zu Vue.js (2 Punkte)</span></b></a>
			</div>
			<div id="uebung">
				<a>Schreiben Sie </a><a class="href" href="https://www.perforce.com/blog/qac/9-best-practices-for-code-review">Code Reviews</a><a> zu der Vue.js-Implementierung der Menü-Komponente Ihrer Mitstudierenden:<br>Zum professionellem Arbeiten gehört auch </a><a class="href" href="https://de.wikipedia.org/wiki/Softwarequalit%C3%A4t">Qualitätssicherung. Das geschieht meistens mittels </a><a class="href" href="https://www.perforce.com/blog/qac/9-best-practices-for-code-review">Code Reviews</a><a>, also die Begutachtung der Quellcodes von Kolleginnen und Kollegen durch Kolleginnen und Kollegen. Daher gehört es auch zu Web Engineering, sich in Code Reviews zu üben. Dies ist der Sinn dieser Übung. Schreiben Sie daher Code Reviews zu den folgenden eingereichten Lösungen Ihrer Mitstudierenden:</a>
			</div>
				<div id="unteruebung">
					<a><b>Zu begutachten ist Vue_Menue:</b></a>
					<br>
					<div id="CodeReview">
					<div id="CodeReviewInnen">
					<a>01 &emsp;&ltstyle&gt</a>
					<br>
					<a>02 &emsp;&emsp;.h {</a>
					<br>
					<a>03 &emsp;&emsp;&emsp;display: inline;</a>
					<br>
					<a>04 &emsp;&emsp;}</a>
					<br>
					<a>05 &emsp;&emsp;li {</a>
					<br>
					<a>06 &emsp;&emsp;&emsp;list-style-type: none;</a>
					<br>
					<a>07 &emsp;&emsp;&emsp;padding: 1em;</a>
					<br>
					<a>08 &emsp;&emsp;}</a>
					<br>
					<a>09 &emsp;&emsp;li a {</a>
					<br>
					<a>10 &emsp;&emsp;&emsp;color: darkgreen;</a>
					<br>
					<a>11 &emsp;&emsp;&emsp;font-size: 1rem;</a>
					<br>
					<a>12 &emsp;&emsp;&emsp;text-decoration: none;</a>
					<br>
					<a>13 &emsp;&emsp;&emsp;background-color: #cb798d;</a>
					<br>
					<a>14 &emsp;&emsp;}</a>
					<br>
					<a>15 &emsp;&lt/style&gt </a>
					<br>
					<a>16 &emsp;&ltdiv id="app"&gt </a>
					<br>
					<a>17 &emsp;&emsp;&ltmenu1 v-for="item in items" v-bind:key="item.id" v-bind:item="item" :class="{ 'h' : v_h }"&gt&lt/menu1&gt </a>
					<br>
					<a>18 &emsp;&lt/div&gt </a>
					<br>
					<a>19 &emsp;&ltscript src="https://unpkg.com/vue/dist/vue.js"&gt&lt/script&gt </a>
					<br>
					<a>20 &emsp;&ltscript&gt</a>
					<br>
					<a>21 &emsp;&emsp;Vue.component('menu1', {</a>
					<br>
					<a>22 &emsp;&emsp;&emsp;props: ['item'],</a>
					<br>
					<a>23 &emsp;&emsp;&emsp;template: '&ltli&gt&lta :href="item.href"&gt{{ item.content }}&lt/a&gt&lt/li&gt' </a>
					<br>
					<a>24 &emsp;&emsp;});</a>
					<br>
					<a>25 &emsp;&emsp;new Vue({</a>
					<br>
					<a>26 &emsp;&emsp;&emsp;el: '#app',</a>
					<br>
					<a>27 &emsp;&emsp;&emsp;data: {</a>
					<br>
					<a>28 &emsp;&emsp;&emsp;&emsp;v_h: false, //<-- vertical or horizontal navbar</a>
					<br>
					<a>29 &emsp;&emsp;&emsp;&emsp;items: [</a>
					<br>
					<a>30 &emsp;&emsp;&emsp;&emsp;&emsp;{id:1, href:"#linkToWebsite", content: "HTML"},</a>
					<br>
					<a>31 &emsp;&emsp;&emsp;&emsp;&emsp;{id:2, href:"#linkToWebsite", content:"CSS"},</a>
					<br>
					<a>32 &emsp;&emsp;&emsp;&emsp;&emsp;{id:3, href:"#linkToWebsite", content:"JS"}</a>
					<br>
					<a>33 &emsp;&emsp;&emsp;&emsp;]</a>
					<br>
					<a>34 &emsp;&emsp;&emsp;}</a>
					<br>
					<a>35 &emsp;&emsp;});</a>
					<br>
					<a>36 &emsp;&lt/script&gt </a>
					</div>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a><b>Gutachten zum Vue_Menue:</b></a>
					<br>
					<a>Ich finde dieses Vue_Menue gut. <br></a>
					<a>Der Code macht was er soll und hat keine Fehler.<br><a>
					<a>Man kann den Code flexibel erweitern, wie es in der Aufgabenstellung gefordert war.<br><a>
					<a>An diesem Vue_Menue musste ich etwas länger lesen und gedanklich viel zwischen den Zeilen hin und her springen.<br><a>
					<a>In meinen Augen hätte die Lesbarkeit durch eine bessere Namensgebung oder durch ein paar Kommentare besser sein können.<br><a>
					<a>Als Gesamtnote würde ich diesem Vue_Menue also eine 2 geben.<a>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Korrektheit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Lesbarkeit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote DRY (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Wiederverwendbarkeit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<a><b>Zu begutachten ist Vue_Menue:</b></a>
					<br>
					<div id="CodeReview">
					<div id="CodeReviewInnen">
					<a>01 &emsp;&lt!DOCTYPE html&gt</a>
					<br>
					<a>02 &emsp;&lthtml lang="en"&gt</a>
					<br>
					<a>03 &emsp;&lthead&gt</a>
					<br>
					<a>04 &emsp;&emsp;&ltmeta charset="UTF-8"&gt</a>
					<br>
					<a>05 &emsp;&emsp;&lttitle&gt10.2&lt/title&gt</a>
					<br>
					<a>06 &emsp;&lt/head&gt</a>
					<br>
					<a>07 &emsp;&ltbody&gt</a>
					<br>
					<a>08 &emsp;&ltdiv id="menuapp"&gt</a>
					<br>
					<a>09 &emsp;&emsp;&ltmenuv&gt</a>
					<br>
					<a>10 &emsp;&emsp;&lt/menuv&gt</a>
					<br>
					<a>11 &emsp;&emsp;&ltmenuv&gt</a>
					<br>
					<a>12 &emsp;&emsp;&lt/menuv&gt</a>
					<br>
					<a>13 &emsp;&lt/div&gt</a>
					<br>
					<a>14 </a>
					<br>
					<a>15 &emsp;&ltscript src="https://unpkg.com/vue/dist/vue.js"&gt&lt/script&gt</a>
					<br>
					<a>16 &emsp;&ltscript&gt</a>
					<br>
					<a>17 &emsp;&emsp;Vue.component('menuv', {</a>
					<br>
					<a>18 &emsp;&emsp;&emsp;template: '&ltdiv&gt&ltul class="nav" v-for="menu in menus"&gt&ltli>&lta :href="menu[1]"&gt{{menu[0]}}&lt/a&gt&lt/li&gt&lt/ul&gt&lt/div&gt',</a>
					<br>
					<a>19 &emsp;&emsp;&emsp;data: function(){</a>
					<br>
					<a>20 &emsp;&emsp;&emsp;&emsp;return {</a>
					<br>
					<a>21 &emsp;&emsp;&emsp;&emsp;&emsp;menus: [['Home', "/home"], ["Infos", "/infos"]]</a>
					<br>
					<a>22 &emsp;&emsp;&emsp;&emsp;}</a>
					<br>
					<a>23 &emsp;&emsp;&emsp;}</a>
					<br>
					<a>24 &emsp;&emsp;});</a>
					<br>
					<a>25 &emsp;&emsp;new Vue({</a>
					<br>
					<a>26 &emsp;&emsp;&emsp;el: '#menuapp'</a>
					<br>
					<a>27 &emsp;&emsp;});</a>
					<br>
					<a>28 &emsp;&lt/script&gt</a>
					<br>
					<a>29 &emsp;&lt/body&gt</a>
					<br>
					<a>30 &emsp;&lt/html&gt</a>
					</div>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a><b>Gutachten zum Vue_Menue:</b></a>
					<br>
					<a>Ich finde dieses Vue_Menue sehr gut. <br></a>
					<a>Der Code macht was er soll und hat keine Fehler.<br><a>
					<a>Man kann den Code flexibel erweitern, wie es in der Aufgabenstellung gefordert war.<br><a>
					<a>An diesem Vue_Menue konnte ich direkt alles nachvollziehen und musste gedanklich nicht zwischen den Zeilen hin und her springen.<br><a>
					<a>In meinen Augen hätte es nicht besser sein können.<br><a>
					<a>Als Gesamtnote würde ich diesem Vue_Menue also eine 1 geben.<a>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Korrektheit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Lesbarkeit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote DRY (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
					<div id="ReviewAntwort">
					<a>Schulnote Wiederverwendbarkeit (sehr gut) 1...5 (mangelhaft):</a>

						<form>
							<label class="radio-inline">
								<input type="radio" name="optradio" checked> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="optradio"> 5
							</label>
						</form>
					</div>
					<br>
				</div>
			<br>
		</div>
		</td>
		<td WIDTH="20%">
		</td>
		</tr>
		</table>
		<!-- Um einen Nach-Oben-Scroll-Button einzufügen, habe ich den folgenden Code von folgender Internetseite:-->
		<!-- https://blog.kulturbanause.de/2012/04/back-to-top-button-mit-jquery/ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<a id="back-to-top"></a>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				// Der Button wird mit JavaScript erzeugt und vor dem Ende des body eingebunden.
				var back_to_top_button = ['<a href="#top" class="back-to-top"></a>'].join("");
				$("body").append(back_to_top_button)
				// Der Button wird ausgeblendet
				$(".back-to-top").hide();
				// Funktion für das Scroll-Verhalten
				$(function () {
					$(window).scroll(function () {
						if ($(this).scrollTop() > 100) { // Wenn 100 Pixel gescrolled wurde
							$('.back-to-top').fadeIn();
						} else {
							$('.back-to-top').fadeOut();
						}
					});
					$('.back-to-top').click(function () { // Klick auf den Button
						$('body,html').animate({
							scrollTop: 0
						}, 800);
						return false;
					});
				});
			});
			<!-- Hier endet der kopierte Code-->
		</script>
    </body>
</html>
