/* Gesamtseite */
body {
	background-color:#222;
	font-family: Arial, Helvetica, sans-serif;	
	font-size:15px;
	margin:0;
}
	::selection {
	background-color:#222;
	color:#fff;
}
			
/* Kopfzeile unterteilt in drei Bereiche*/ 
#header{	
	background-color: #222;
}	
#mitte{					
	justify-content: center;
	display:flex;
	align-items:center;
	margin-top:30px;
	margin-bottom:30px;
}
#mitte a{
	color:rgb(164,200,165);
	font-size: 500%;
	font-weight:bold;
	text-decoration:none;
}
			
/* Menüleiste mit Dropdown-Menü */
#menüleiste a {
	display:block;
	padding:0 10px; 
	color: #222;
	font-size:15px;
	line-height: 50px;
	text-decoration:none;
}
#menüleiste a:hover { 
	background-color: rgb(164,200,165);
	line-width: 5px;
}
#menüleiste ul {
	z-index:1;	
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	background-color:white;				
	display: flex;
	flex-wrap: wrap;				
	justify-content: space-around;
} 
#menüleiste ul ul {
	display: none;
	position: absolute; 
	top: 50px; 
}   
#menüleiste ul li {
	display:inline-block;
	background-color: white;
}
#menüleiste ul li:hover > ul {
	display:inherit;
}
#menüleiste ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Content-Bereich unterteilt in drei Bereiche */
#content {
	z-index:3;
	display: flex;
	flex-wrap: wrap;				
	justify-content: space-around;
	display:inline-block;
	text-align: left;
}			
#content a{
	color:black;
}
h2{					
	color:black;
	font-size:30px;
	background-color:white;
	padding-bottom: 10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	margin-bottom:0;
	background-color:rgb(164,200,165);
}			
#uebungsueberschrift{
	background-color:rgb(164,200,165);
	padding-bottom: 10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	font-size: 18px;
}
#uebung{
	background-color: white;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
}			
#unteruebung{
	background-color: white;
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
}			
#antwort{	
	background-color:white;	
	padding-top:5px;
	padding-bottom:20px;
}			
#content ol{
	margin: 0;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
}	
#content ul{
	margin: 0;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
}
#CodeReview{
	border: 1px solid #222;
}
#CodeReviewInnen{
	padding:5px;
	background-color: rgb(164,200,165);
}
#ReviewAntwort{
	padding:5px;
	border: 3px solid rgb(164,200,165);
}